* {
    background-color: #141322;
    color: #69C7D5;
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

a {
    cursor: pointer;
    text-decoration: none;
}

#navigation {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #141322;
  z-index: 998;
}

#nav-bar {
    display: flex;
}

#nav-links {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 400px;
    margin-left: 12%;
    margin-top: 13px;
    margin-bottom: 5px;
}

.nav-link a:link{
    text-decoration: none;
}

.nav-link a:hover {
    color: #ffd900;
}

.cross {
  position: absolute;
  top: 0;
  margin-top: 16px;
  margin-left: 6px;
  opacity: 0;
}

.nav-link a:hover .cross {
  opacity: 1;
}

#hero {
    margin: 65px 1px 0 20%;
}

.lightest-blue {
    color: #A5E0DE;
}

.pink {
    color: #F2408F;
}

.tab1 {
    margin-left: 5%;
}

.tab2 {
    margin-left: 10%;
}

.tab3 {
    margin-left: 20%;
}

h1 {
    font-size: 6vw;
    margin-bottom: 0;
}

#subheading {
    font-size: 2vw;
}

#verticalLine {
    border-left: 1px solid #8C2C56;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 14%;
    z-index: 999;
}

#verticalLine2 {
  border-left: 1px solid #353541;
  height: 300vh;
  position: absolute;
  top: 80px;
  left: 20%;
}

#verticalLine3 {
  border-left: 1px solid #353541;
  height: 6vw;
  position: absolute;
  top: 118px;
  left: 24%;
}

#verticalLine4 {
  border-left: 1px solid #353541;
  height: 5vw;
  position: absolute;
  top: 260px;
  left: 24%;
}

#verticalLine5 {
  border-left: 1px solid #353541;
  height: 260vh;
  position: absolute;
  top: 425px;
  left: 24%;
}

#top-line {
    width: 100% - 13.7%;
    background: #8C2C56;
    height: 1px;
    border: 0;
    margin-left: 13.7%;
    
}

#learn-more {
    text-align: left;
    margin-top: 200px;
    margin-left: 30%;
}

#learn-more-2{
  text-align: left;
  margin-top: 75px;
  margin-left: 30%;
}

.yellow {
  color: #ffd900;
}

.yellow:hover {
  color: white;
}

#learn-more a:hover {
    color: white;
}

.blinking-cursor {
    font-weight: 100;
    font-size: 6vw;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #F2408F;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #F2408F;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #F2408F;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #F2408F;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: #F2408F;
    }
  }

  .headers {
 
      font-size: 4vw;
      margin-top: 100px;
      margin-left: 25%;
      margin-bottom: 25px;
  }

  .hidden {
    margin-top: 600px;
    visibility: hidden;
  }

  .hidden2 {
    margin-top: 600px;
    visibility: hidden;
  }

.paragraph {
  margin-left: 35.3%;
  margin-right: 225px;
}

#project-tiles {
  margin-top: 50px;
}

.tile {
  display: flex;
  margin-left: 25%;
  margin-bottom: 20px;
}

.project-img {
  flex: 1;
  object-fit: cover;
  max-width: 275px;
  max-height: 150px;
  height: auto;
  border: 1px solid #F2408F;
  padding: 4px;
}

.title {
  font-size: 24px;
}

.description {
  flex: 4;
  margin-left: 25px;
  margin-right: 160px;
  /* I want to find a way to do a collapsable pargraph when the screen size is smaller */
}

.title > h3 {
  margin-top: 0px;
 }
 

 #Projects > p:nth-child(3) {
  margin-left: 25%;
  margin-right: 145px;
 }
 